<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="0cd50b59-d80e-4caa-84b0-58bb07d4e404"
            Publisher="CN=Beatriz"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>PlanetsListBox</DisplayName>
    <PublisherDisplayName>Beatriz</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="PlanetsListBox.App">
        <VisualElements
            DisplayName="PlanetsListBox"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="PlanetsListBox"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>