<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">

  <Identity Name="9970d221-97e2-4b67-a79d-51565f5a3cd4"
            Publisher="CN=Beatriz"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>BindRadioButtonsToEnums</DisplayName>
    <PublisherDisplayName>Beatriz</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="BindRadioButtonsToEnums.App">
        <VisualElements
            DisplayName="BindRadioButtonsToEnums"
            Logo="Assets\Logo.png"
            SmallLogo="Assets\SmallLogo.png"
            Description="BindRadioButtonsToEnums"
            ForegroundText="light"
            BackgroundColor="#464646">
            <DefaultTile ShowName="allLogos" />
            <SplashScreen Image="Assets\SplashScreen.png" />
        </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>